
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
:root{
    /* ----COLORS--- */
    --coral-color:#D87D4A;
    --black-color:#101010;
    --half-white-color:#F1F1F1;
    --light-half-white-color:#FAFAFA;
    --light-coral-color:#fbaf85;
    --white-color:#FFFFFF;
    --dark-black-color:#000000;

    /* ----TYPOGRAPHY--- */

    /* --headding--one-- */
    --headding-one-font-size:3.5rem;
    --headding-one-line-height:3.65rem;
    --headding-one-letter-spacing:0.129rem;

     /* --headding--two-- */
    --headding-two-font-size:2.5rem;
    --headding-two-line-height:2.75rem;
    --headding-two-letter-spacing:0.089375rem;

     /* --headding--three-- */
    --headding-three-font-size:2rem;
    --headding-three-line-height:2.25rem;
    --headding-three-letter-spacing:0.07125rem;

     /* --headding--four-- */
    --headding-four-font-size:1.75rem;
    --headding-four-line-height:2.735rem;
    --headding-four-letter-spacing:0.125rem;

     /* --headding--five-- */
    --headding-five-font-size:1.5rem;
    --headding-five-line-height:2.0625rem;
    --headding-five-letter-spacing:0.106875rem;

     /* --headding--six-- */
    --headding-six-font-size:1.25rem;
    --headding-six-line-height:1.5rem;
    --headding-six-letter-spacing:0.080625rem;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    display: flex;
}
.wrapper{
    background-color: var(--black-color);
    padding: 1rem 5rem 1rem 5rem;
    width: 100vw;
    height: 100vh;
    color: var(--half-white-color);
    font-family: "Varela Round", serif;
}
 /* navbar-started */
.wrapper header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.icon-headding-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}
header .icon-headding-container h1{
    font-size: 2rem;
}
nav ul{
    display: flex;  
    list-style: none;
    gap: 2rem;
    font-size: 1.011rem;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul li a{
    text-decoration: none;
    color: var(--white-color);
}

.hr-first{
    opacity: 20%;
}
svg{
    display: none;
}
  /* navbar-complated */

  /* hero-section-started */

.hero-section-container{
   display: flex;
}
.hero-content-container{
   display: flex;
   flex-direction: column;
   position: absolute;
   left: 5rem;
   top: 10rem;
   color: var(--white-color);
   font-family: sans-serif;
   font-weight: 500;
}
.hero-content-container h5{
   letter-spacing: var(--headding-one-letter-spacing);
   line-height: var(--headding-one-line-height);
   font-size: var(--headding-six-font-size);
   color: gray;
}
.hero-content-container h1{
    line-height: var(--headding-one-line-height);
    letter-spacing: var(--headding-one-letter-spacing);
    font-size: var(--headding-one-font-size);
}
.hero-content-container p{
    letter-spacing: var(--headding-five-letter-spacing) ;
    line-height: var(--headding-six-line-height) ;
    font-size: 15px;
}
.hero-content-container .btn{
   width: 140px;
   height: 40px;
   background: chocolate;
   color: var(--white-color);
   border: 2px solid rgb(248, 105, 2);
   font-size: 15px;
   margin-top: 2rem;
}

.hero-section-container .audiopile-image-container img{
    width: 50vw;
    height: 88vh;
    right: 5rem;
    top: 4.8rem;
    position: absolute;
}